body{
  font-family: 'Roboto', sans-serif;
}
.padding-5{
  padding-top: 70px;
}
.scale:hover{
  transition: 2s;
  transform:scaleX(1.1);
}
.nav-item::after{
  content:'';
  display:block;
  width:0px;
  height:4px;
  background: yellow;
  transition: 0.2s;
  margin-top:-10px;
}

.nav-item:hover::after{
  width:100%;
}
.nav-link{
  padding:15px 5px;
  transition:0.2s;
  font-weight:bold;
  font-size:18px;
}
.text-white{
  opacity: 0.8;
}
.text-light, .text-white:hover{
  opacity: 1;
  transform: scale(1.1);
}
.fixed-top-1{
  margin-top: 100px;
}
.mx-auto-1{
  width: 18%;
  margin: auto;
}
.image{
  width: 15.5rem;
  height: 170px;
}
.image-1{
  width: 100%;
  height: 350px;
}
.container-1{
  margin: auto;
  width: 70%;
}
